@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="@item.imageSrc" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p>
                            @item.TotalPrice @if (@item.Price != @item.TotalPrice)
                            {
                                <span class="text-decoration-line-through">@item.Price</span>
                            }
                        </p>

                        <form asp-action="AddProduct" asp-controller="Cart" class="d-inline-block me-2" method="post">
                            <input type="hidden" name="ID" value="@item.ID" />
                            <input type="hidden" name="Name" value="@item.Name" />
                            <input type="hidden" name="Price" value="@item.Price" />
                            <input type="hidden" name="Quantity" value="@item.Quantity" />
                            <input type="hidden" name="TotalPrice" value="@item.TotalPrice" />
                            <input type="hidden" name="Discount" value="@item.Discount" />
                            <input type="hidden" name="imageSrc" value="@item.imageSrc" />
                            <!-- Add any other properties that you want to send -->

                            <button type="submit" class="btn btn-success">Add to Cart</button>
                        </form>
                        <form asp-action="RemoveFromWishlist" asp-controller="Wishlist" class="d-inline-block" method="post">
                            <input type="hidden" name="ID" value="@item.ID" />
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-trash3-fill btn-danger"></i> Remove
                            </button>
                        </form>
                        

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="@item.imageSrc" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p>Price @item.Price</p>

                        <form asp-action="RemoveFromWishlist" asp-controller="Wishlist" method="post">
                            <input type="hidden" name="ID" value="@item.ID" />
                            <button type="submit">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </form>
                        <form asp-action="AddProduct" asp-controller="Cart" method="post">
                            <input type="hidden" name="ID" value="@item.ID" />
                            <input type="hidden" name="Name" value="@item.Name" />
                            <input type="hidden" name="Price" value="@item.Price" />
                            <input type="hidden" name="Quantity" value="@item.Quantity" />
                            <input type="hidden" name="TotalPrice" value="@item.TotalPrice" />
                            <input type="hidden" name="Discount" value="@item.Discount" />
                            <input type="hidden" name="imageSrc" value="@item.imageSrc" />
                            <button type="submit"><i class="bi bi-cart-plus"></i></button>
                        </form>

                    </div>
                </div>
            </div>

        }
    </div>
</div>